<div class="teams-page-container">
  <header class="page-header">
    <div class="header-text">
      <h1>My Teams</h1>
      <p>Manage your collaboration groups and members</p>
    </div>

    @if (teams()?.length) {
      <button class="btn-main-add" (click)="openAddTeamDialog()">
        <mat-icon>add</mat-icon>
        Create New Team
      </button>
    }
  </header>

  @if (teams()?.length) {
    <div class="teams-grid">
      @for(team of teams(); track team.id) {
        <app-taem-card 
          [taem]="team" 
          (requestAddMember)="openAddMemberDialog(team.id)">
        </app-taem-card>
      }
    </div>
  } @else {
    <div class="empty-state-card">
      <div class="empty-icon-wrapper">
        <mat-icon>group_work</mat-icon>
      </div>
      <h2>No teams found</h2>
      <p>Collaboration is key! Create your first team to start managing members and assigning projects.</p>
      
      <div class="empty-actions">
        <button class="btn-main-add" (click)="openAddTeamDialog()">
          <mat-icon>add</mat-icon>
          Create Your First Team
        </button>
      </div>
    </div>
  }
</div>