<div class="team-card">
  <div class="card-header">
    <h2 class="team-name">{{ project().name }}</h2>

    <div class="members-badge">
      <mat-icon>flag</mat-icon>
      <span>{{ project().status }}</span>
    </div>
  </div>

  <div class="info-item">
    <mat-icon>description</mat-icon>
    <span class="date-text">{{ project().description || 'No description provided' }}</span>
  </div>

  <div class="info-item">
    <mat-icon>calendar_today</mat-icon>
    <span class="date-text">Updated recently</span>
  </div>

  <div class="card-footer">
    <button class="btn-view" (click)="onSeeTasksClick()">
      <mat-icon>task_alt</mat-icon>
      See all tasks
    </button>
  </div>
</div>